<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
</head>

<body>
	<div id="app">
		<div v-cloak>
			<div v-for="(value, key, index) of object">
				{{ index }}. {{ key }}: {{ value }}
			</div>
			<hr />
			<ul>
				<li v-for="num of shortNumbers" v-text="num"></li>
			</ul>
			<hr />
			<ul>
				<li v-for="num of shortedNumbers" v-text="num"></li>
			</ul>
			<hr />
			<ul>
				<li v-for="num in shortandreverse" v-text="num"></li>
			</ul>
			<hr />
			<ul>
				<li v-for="num in filteredNumber" v-text="num"></li>
			</ul>
			<hr />
			<ul>
				<li v-for="num in concatNumbers" v-text="num"></li>
			</ul>
			<hr />
			<ul>
				<li v-for="num in sliceNumbers" v-text="num"></li>
			</ul>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				object: {
					firstName: 'John',
					lastName: 'Doe',
					age: 30,
					numbers: ['1', '25', '33', '51', '98', '120', '240'],
					numbersNew: [1, 25, 33, 51, 98, 120, 240],
					numbersOld: [22, 15, 88, 21, 108, 220, 140],
				}
			},
			computed: {
				shortNumbers: function () {
					return this.object.numbers.sort()
				},
				shortNumbersNew: function () {
					return this.object.numbersNew.sort()
				},
				shortedNumbers: function () {
					return this.object.numbersNew.slice().sort((a, b) => a - b);
				},
				shortandreverse: function () {
					return this.object.numbersNew.slice().sort((a, b) => a - b).reverse();
				},
				filteredNumber: function () {
					return this.object.numbersNew.filter(function (number) {
						return number % 2 === 0
					})
				},
				concatNumbers: function () {
					return this.object.numbersNew.concat(this.object.numbersOld)
				},
				sliceNumbers: function () {
					return this.concatNumbers.slice(2, 6)
				}
			}
		})
	</script>

	<style>
		[v-cloak] {
			display: none
		}
	</style>
</body>

</html>