<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-cloak>
      <h1>{{ message }}</h1>
      <person></person>
      <person></person>
      <person></person>
      <hr />
      <who></who>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script>
    Vue.component('person', {
      template: `
      <div>
        <p>Edgar Allan Poe</p>
        <p>Born: January 19, 1809</p>
        <p>Died‎: ‎October 7, 1849</p>
      </div>`
    });


    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello World!',
      },
      components: {
        who: {
          template: `
          <div>
            <p>Edgar Allan Poe</p>
            <p>Born: January 19, 1809</p>
            <p>Died‎: ‎October 7, 1849</p>
          </div>`
        }
      }
    });
  </script>

</body>

</html>