<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <section id="app" class="section" v-cloak>
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <button class="button is-primary is-large modal-button" data-target="modal" aria-haspopup="true" @click="isActive = true">Launch example
        modal</button>
        <div class="modal is-clipped" :class="{ 'is-active': isActive }">
          <div class="modal-background"></div>
          <div class="modal-content">
          
            <modal v-for="(person, index) in profiles" :key="index" :profilename="person.profile_name"
              :profilepic="person.profile_pic" :profileurl="person.profile_url" :sharedtime="person.sharedtime">
            </modal>
          </div>
          <button class="modal-close is-large" aria-label="close" @click="isActive = false"></button>
        </div>
    </div>
  </section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script>
    Vue.component('modal', {
      props: ['profilename', 'profileurl', 'profilepic', 'sharedtime'],
      template: `
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img :src="profilepic" :alt="profilename" />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong v-text="profilename"></strong> <small v-text="'@' + profileurl"></small> <small class="is-pulled-right">{{ sharedtime }}</small>
                    <br />
                    {{ getMessage(profileurl) }}
                  </p>
                </div>
              </div>
            </article>
          </div>`,
      methods: {
        getMessage(who) {
          return this.$root.messages.edgarallanpoe.message
        }
      }
    });

    var app = new Vue({
      el: '#app',
      data: {
        isActive: false,
        profiles: [{
          profile_name: 'Edgar Allan Poe',
          profile_pic: 'https://bulma.io/images/placeholders/128x128.png',
          profile_url: 'edgarallanpoe',
          sharedtime: '2019-4-29 18:07:03'
        }],
        messages: {
          edgarallanpoe: {
            message: `From childhood's hour I have not been.As others were, I have not seen. As others saw, I could not
            awaken. My heart to joy at the same tone. And all I loved, I loved alone.`
          }
        }
      },
      methods: {
      }
    });
  </script>

</body>

</html>