<!DOCTYPE html>
<html>
  <head>
    <title>Vue Example</title>
    <style>
      [v-cloak] > * {
        display: none;
      }

      [v-cloak]::before {
        content: "loading…";
      }
      .fade-enter-active,
      .fade-leave-active {
        transition: opacity 0.5s;
      }
      .fade-enter,
      .fade-leave-to {
        opacity: 0;
      }
      .slide-fade-enter-active {
        transition: all 0.3s ease;
      }
      .slide-fade-leave-active {
        transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
      }
      .slide-fade-enter,
      .slide-fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
      }
      p {
        white-space: pre-line;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div v-cloak>
        <input v-model="inputMessage" placeholder="Type something..." />
        <transition name="fade">
          <p v-show="inputMessage">
            Message is: <strong>{{ inputMessage }}</strong>
          </p>
        </transition>
        <hr />
        <textarea v-model="textMessage">Type something...</textarea>
        <transition name="slide-fade">
          <p v-show="textMessage">
            Message is: <strong>{{ textMessage }}</strong>
          </p>
        </transition>
        <hr />
        <input type="checkbox" v-model="checked" />
        <label for="checkbox">{{ checked }}</label>
        <hr />
        <input
          type="checkbox"
          id="andromeda"
          value="Andromeda"
          v-model="checkedNames"
        />
        <label for="andromeda">Andromeda</label>
        <input
          type="checkbox"
          id="black-eye-galaxy"
          value="Black Eye Galaxy"
          v-model="checkedNames"
        />
        <label for="black-eye-galaxy">Black Eye Galaxy</label>
        <input
          type="checkbox"
          id="bode-s-galaxy"
          value="Bode's Galaxy"
          v-model="checkedNames"
        />
        <label for="bode-s-galaxy">Bode's Galaxy</label>
        <input
          type="checkbox"
          id="cartwheel-galaxy"
          value="Cartwheel Galaxy"
          v-model="checkedNames"
        />
        <label for="cartwheel-galaxy">Cartwheel Galaxy</label>
        <input
          type="checkbox"
          id="cigar-galaxy"
          value="Cigar Galaxy"
          v-model="checkedNames"
        />
        <label for="cigar-galaxy">Cigar Galaxy</label>
        <br />
        <span>Checked names: {{ checkedNames }}</span>
        <hr />
        <select v-model="singleSelected">
          <option disabled value="">Please select one</option>
          <option>Andromeda</option>
          <option>Black Eye Galaxy</option>
          <option>Bode's Galaxy</option>
        </select>
        <span v-show="singleSelected">Selected: {{ singleSelected }}</span>
        <hr />
        <select v-model="multipleSelected" multiple>
          <option>Andromeda</option>
          <option>Black Eye Galaxy</option>
          <option>Bode's Galaxy</option>
        </select>
        <br />
        <span>Selected: {{ multipleSelected }}</span>
        <hr />
        <select v-model="dynamicSelected">
          <option disabled value="">Please select one</option>
          <option
            v-for="option in dynamicOptions"
            v-bind:value="option.id + ': ' + option.value"
          >
            {{ option.text }}
          </option>
        </select>
        <span>{{ dynamicSelected }}</span>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          inputMessage: "",
          textMessage: "",
          checked: true,
          checkedNames: [],
          singleSelected: "",
          multipleSelected: [],
          dynamicSelected: "",
          dynamicOptions: [
            { text: "Andromeda", id: "A", value: "Andromeda Galaxy" },
            { text: "Black Eye Galaxy", id: "B", value: "Black Eye Galaxy" },
            { text: "Bode's Galaxy", id: "C", value: "Bode's Galaxy" }
          ]
        },
        methods: {},
        computed: {},
        watch: {}
      });
    </script>
  </body>
</html>
