<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-cloak>
      <h1>{{ message }}</h1>
      <author-detail v-for="(author, index) in authors" :key="index" :author="author"></author-detail>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script type="text/x-template" id="authorIndex">
    <div>
      <p>Name: {{author.name}}</p>
      <p>Born: {{author.born}}</p>
      <p>Died: {{author.died}}</p>
      <hr />
    </div>
  </script>

  <script>
    Vue.component('author-detail', {
      props: ['author'],
      template: '#authorIndex',
    });

    var app = new Vue({
      el: '#app',
      data: {
        message: 'Favorite Authors',

        authors: [{
            name: 'Edgar Allan Poe',
            born: 'January 19, 1809',
            died: 'October 7, 1849'
          },
          {
            name: 'Franz Kafka',
            born: 'July 3, 1883',
            died: 'June 3, 1924'
          },
          {
            name: 'Emil M. Cioran',
            born: 'April 8, 1911',
            died: 'June 20, 1995'
          }
        ]
      }
    });
  </script>

</body>

</html>