<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
</head>

<body>
	<div id="app">
		<blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title"></blog-post>
		{{ error }}
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

	<script>
		Vue.component('blog-post', {
			props: ['title'],
			template: '<h3>{{ title }}</h3>'
		})

		var app = new Vue({
			el: '#app',
			data: {
				error: null,
				posts: []
			},
			created: function () {
				var vm = this
				// https://api.giphy.com/v1/gifs/search?&api_key=plxzGIa2VhExkF6lbKDkCg8xzbu9vWsc&q=vue&limit=5
				// https://developers.giphy.com/explorer/
				fetch('https://jsonplaceholder.typicode.com/posts')
					.then(function (response) {
						return response.json()
					})
					.then(function (data) {
						vm.posts = data
					})
			}
		})
	</script>

</body>

</html>