<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
</head>

<body>
	<div id="app">
		<div v-cloak>
			<strong v-text="message"></strong>
			<ul id="list-1">
				<li v-for="(country, index) of countries" :class="(index < 5) ? 'bold' : 'passive'" :key=" index">
					{{ country.name }}
					<ul>
						<li v-for="value, key of country">
							{{ key }}: {{ value }}
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				message: 'The top 10 most dangerous countries according to the 2018 GPI report are:',
				status: 'Current',
				countries: [{
						name: 'Syria',
						capital: 'Damascus',
						religion: 'Sunni Muslim 74%, Alawite, Druze, and other Muslim sects 16%, Christian (various sects) 10%, Jewish (tiny communities in Damascus, Al Qamishli, and Aleppo)'
					},
					{
						name: 'Afghanistan',
						capital: 'Kabul',
						religion: 'Sunni Muslim 80%, Shi\'a Muslim 19%, other 1%'
					},
					{
						name: 'South Sudan',
						capital: 'Juba',
						religion: 'Roman Catholic Christianity 37.2%, Episcopal Churches and Other Forms of Christianity 36.5%, Traditional African Beliefs and Animism 19.7%, Islam 6.2%, other 0.4%'
					},
					{
						name: 'Iraq',
						capital: 'Baghdad',
						religion: 'Muslim 97% (Shi\'a 60-65%, Sunni 32-37%), Christian or other 3%'
					},
					{
						name: 'Somalia',
						capital: 'Mogadishu',
						religion: 'Sunni Muslim'
					},
					{
						name: 'Yemen',
						capital: 'Sanaa',
						religion: 'Muslim including Shaf\'i (Sunni) and Zaydi (Shi\'a), small numbers of Jewish, Christian, and Hindu'
					},
					{
						name: 'Libya',
						capital: 'Tripoli',
						religion: 'Sunni Muslim 97%, other 3%'
					},
					{
						name: 'Democratic Republic of Congo',
						capital: 'Kinshasa',
						religion: 'Roman Catholic 50%, Protestant 20%, Kimbanguist 10%, Muslim 10%, other syncretic sects and indigenous beliefs 10%'
					},
					{
						name: 'Central African Republic',
						capital: 'Bangui',
						religion: 'Indigenous beliefs 35%, Protestant 25%, Roman Catholic 25%, Muslim 15%'
					},
					{
						name: 'Russia',
						capital: 'Moscow',
						religion: 'Russian Orthodox 15-20%, Muslim 10-15%, other Christian 2% (2006 est.)'
					}
				]
			}
		})
	</script>

	<style>
		[v-cloak] {
			display: none
		}

		.bold {
			font-weight: bold;
			color: red;
		}
	</style>
</body>

</html>