<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }

    body div>.ui.container:first-of-type {
      margin-top: 3em;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="ui container" v-cloak>
      <div class="ui row">
        <div class="ui one wide padded column">
          <div class="ui three stackable cards">
            <cardcomp v-for="(msgObj, index) in messages" :msg-obj="msgObj" :index="index"
              :key="index">
                <cardcomp-header>{{ msgObj.header }}</cardcomp-header>
                <cardcomp-meta v-text="msgObj.meta"></cardcomp-meta>
                <cardcomp-desc v-html="msgObj.description"></cardcomp-desc>
            </cardcomp>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script>
    Vue.component('cardcomp', {
      props: ['msg-obj'],
      template: `
            <div class="card" :class="{ orange: getstatus(msgObj.id) }">
              <div class="content">
                <img class="ui right floated mini rounded image" :src="avatar" /> {{ getstatus() }}
                <slot></slot>
              </div>
              <cardcomp-buttons :id="msgObj.id" />
            </div>
      `,
      computed: {
        avatar() {
          return 'https://semantic-ui.com/images/' + this.msgObj.avatar
        }
      },
      methods: {
        getstatus(id){
          if(this.$root.approvedMessages.indexOf(id) === -1) {
            return false
          } else {
            return true
          }
        }
      }
    });

    Vue.component('cardcomp-header', {
      template: `<div class="header"><slot></slot></div>`
    });

    Vue.component('cardcomp-meta', {
      props: ['meta'],
      template: `<div class="meta">{{ meta }}</div>`
    });

    Vue.component('cardcomp-desc', {
      template: `<div class="description">
      <slot></slot>
    </div>`
    });

    Vue.component('cardcomp-buttons', {
      props: ['index', 'id'],
      template: `<div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button" @click="approve(id)">Approve
          </div>
          <div class="ui basic red button" @click="decline(id)">Decline</div>
        </div>
      </div>`,
      methods: {
        decline(id) {
          if(this.$root.declinedMessages.indexOf(id) === -1) {
            this.$root.messages.splice(id, 1)
            this.$root.declinedMessages.push(id)
          } else {
            this.$root.messages.splice(id, 1)
          }
        },
        approve(id) {
          if(this.$root.approvedMessages.indexOf(id) === -1) {
            this.$root.approvedMessages.push(id)
          }
        }
      }
    });

    var app = new Vue({
      el: '#app',
      data: {
        approvedMessages: [],
        declinedMessages: [],
        status: false,
        messages: [{
            id: 'msgObj-1',
            avatar: 'avatar/large/elliot.jpg',
            header: 'Elliot Fu',
            meta: 'Friends of Veronika',
            description: 'Elliot requested permission to view your contact details.'
          },
          {
            id: 'msgObj-2',
            avatar: 'avatar/large/jenny.jpg',
            header: 'Jenny Hess',
            meta: 'Member',
            description: 'Elyse create an event.'
          },
          {
            id: 'msgObj-3',
            avatar: 'avatar2/large/elyse.png',
            header: 'Elyse Marley',
            meta: 'New Member',
            description: 'Jenny wants to add you to the group <b>best friends</b>.'
          }
        ]
      },
      methods: {

      }
    });
  </script>

</body>

</html>