<!DOCTYPE html>
<html>
	<head>
		<title>Vue Example</title>
	</head>
	<body>
		<div id="app">
			<ul>
				<li v-for="msg in message" v-bind:title="msg">{{ msg }}</li>
			</ul>

			<ul>
				<li v-for="(value, index) in message" v-bind:title="value">{{ index }}: {{ value }}</li>
			</ul>

			<ul>
				<li v-for="(value, index) in user" v-bind:title="value">{{ index }}: {{ value }}</li>
			</ul>

			<ul>
				<li v-for="(value, index) in users" v-bind:title="value">{{ index }}: {{ value }}</li>
			</ul>

			<ul>
				<li v-for="(value, index) in users" v-bind:title="value.firstName" :key="index">{{ index }}: {{ value.firstName }} {{ value.lastName }}</li>
			</ul>

			<ul>
				<li v-for="(value, index) in users" v-bind:title="value" :key="index">{{ index }}: <span v-for="val in value" v-bind:title="val">{{ val }} / </span></li>
			</ul>

			<ul>
				<li v-for="(value, index) in users" v-bind:title="value">{{ index }}: <span v-for="val in value.firstName">{{ val }} / </span></li>
			</ul>

			<ul>
				<li v-for="(value, index) in users" v-bind:title="value.firstName" :key="index">{{ index }}: {{ value.firstName }} {{ value.lastName }}</li>
			</ul>

			
		</div>
		<script src="https://vuejs.org/js/vue.js"></script>
		<script>
		var app = new Vue({
		  el: '#app',
		  data: {
				message: ['Selam', 'Hello', 'Tungjatjeta', 'Salam', 'Вiтаю', 'Hola', 'Hallo', 'Tere'],
				user: {
					firstName: 'John',
					lastName: 'Doe'
				},
				users: [
					{
						chId: 'tu0yw62e0v',
						firstName: 'Roderick',
						lastName: 'Usher'
					},
					{
						chId: 'oejqos5wdo',
						firstName: 'Julius',
						lastName: 'Rodman'
					},
					{
						chId: 'snu1stqfsa',
						firstName: 'Annabel',
						lastName: 'Lee'
					},
					{
						chId: '6gtrbi1b0w',
						firstName: 'Monck',
						lastName: 'Mason'
					}	
				]
		  }
		})
		</script>
	</body>
</html>