<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
	<style>
		[v-cloak]>* {
			display: none;
		}

		[v-cloak]::before {
			content: "loading…";
		}
	</style>
</head>

<body>
	<div id="app">
		<div v-cloak>
			<blog-post v-for="gif of gifs" :gif="gif" :key="gif.id" />
			{{ error }}
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

	<script>
		Vue.component('blog-post', {
			props: {
				gif: {
					require: true
				}
			},
			template: `
		    <div><a :href="gif.link" v-text="gif.id"></a><p v-html="gif.excerpt.rendered"></p><hr /></div>`,
		});

		var app = new Vue({
			el: '#app',
			data: function () {
				return {
					error: null,
					gifs: []
				}
			},
			mounted() {
				// https://kapeli.com/cheat_sheets/Axios.docset/Contents/Resources/Documents/index
				// https://www.qnbfinansbank.enpara.com/doviz-kur-bilgileri/doviz-altin-kurlari.aspx
				axios({
						url: '?kaynak=doviz_guncel_serb',
						baseURL: 'http://api.piyasa.com/json/',
						// http://api.piyasa.com/json/?kaynak=doviz_guncel_serb
						method: 'get',
						headers: {
							"Content-Type": "text/html",
							"Cache-Control": "no-cache"
						}
					})
					.then(response => (this.gifs = response.data)).catch(error => (this.error = error))
			}
		});
	</script>

</body>

</html>