<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
</head>

<body>
	<div id="app">
		{{ error }}

		<div id="blog-post-demo" class="demo">
			<blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title"></blog-post>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

	<script>
		Vue.component('blog-post', {
			props: ['title'],
			template: '<h3>{{ title }}</h3>'
		})

		var app = new Vue({
			el: '#app',
			data() {
				return {
					error: null,
					posts: []
				}
			},
			mounted() {
				axios
					//.get('https://jsonplaceholder.typicode.com/posts')
					.post(
						'https://www.googleapis.com/identitytoolkit/v3/relyingparty/verifyCustomToken?key=AIzaSyCrJhFFdcq0AiCTc455b1hzgWCPX8AehXw', {
							email: 'test@testcom',
							pass: 'test',
							returnSecureToken: true
						})
					.then(response => (this.posts = response.data)).catch(error => (this.error = error))
			}
		})
	</script>

</body>

</html>