<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
	<style>
		[v-cloak]>* {
			display: none;
		}

		[v-cloak]::before {
			content: "loading…";
		}
	</style>
</head>

<body>
	<div id="app">
		<div v-cloak>
			<blog-post v-for="gif of gifs" :gif="gif" :key="gif.id" />
			{{ error }}
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

	<script>
		Vue.component('blog-post', {
			props: {
				gif: {
					require: true
				}
			},
			template: `
		    <div><a :href="gif.link" v-text="gif.id"></a><p v-html="gif.excerpt.rendered"></p><hr /></div>`,
		});

		var app = new Vue({
			el: '#app',
			data: function () {
				return {
					error: null,
					gifs: []
				}
			},
			mounted() {
				axios
					.get('https://ceaksan.com/wp-json/wp/v2/posts')
					.then(response => (this.gifs = response.data)).catch(error => (this.error = error))
			}
		});
	</script>

</body>

</html>