<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
	<style>
		[v-cloak]>* {
			display: none;
		}

		[v-cloak]::before {
			content: "loading…";
		}
	</style>
</head>

<body>
	<div id="app">
		<div v-cloak>
			<blog-post v-for="gif of gifs.data" :gif="gif" :key="gif.id" />
			{{ error }}
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

	<script>
		Vue.component('blog-post', {
			props: {
				gif: {
					require: true
				}
			},
			methods: {
				getGif() {
					var url = "https://media.giphy.com/media/";
					var file = "/giphy.gif";
					var gifId = this.gif.id
					return url.concat(gifId, file)
				}
			},
			template: `
		    <div>
					<img :src="getGif()" />
				</div>`,
		});

		var app = new Vue({
			el: '#app',
			data: function () {
				return {
					error: null,
					gifs: []
				}
			},
			mounted() {
				axios
					.get('https://api.giphy.com/v1/gifs/search?&api_key=plxzGIa2VhExkF6lbKDkCg8xzbu9vWsc&q=world&limit=5')
					.then(response => (this.gifs = response.data)).catch(error => (this.error = error))
			}
		});
	</script>

</body>

</html>