<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

	<style>
		/*
		[v-cloak]>* {
			display: none;
		}

		[v-cloak]::before {
			content: "loading…";
		}
		*/
	</style>
</head>

<body>

	<section id="app" class="section" v-cloak>
		<div v-if="isLoading">Loading...</div>
		<div v-else>
			<single-file-component></single-file-component>
		</div>
	</section>

	<script type="module" src="./app.mjs"></script>

</body>

</html>