<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-cloak>
      <p v-show="count == 0">Your cart is empty!</p>
      <p v-show="count > 0">{{ count }} products in your cart.</p>
      <hr />
      <p>
        <single-product v-on:cartcounter="addToCart" v-for="product of products" :key="product.id" :product="product" />
      </p>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script>
    Vue.component('single-product', {
      props: {
        'product': {
          type: Object,
          require: true
        }
      },
      template: `
      <div>
        <h3>{{ product.name }}</h3>
        <button v-on:click="$emit('cartcounter', 1)">Add to cart</button>
      </div>`,
    });

    var app = new Vue({
      el: '#app',
      data: {
        count: 0,
        products: [{
            id: 1,
            name: 'Echo Dot (3rd Gen) - Smart speaker with Alexa - Charcoal'
          },
          {
            id: 2,
            name: 'Echo Plus (2nd Gen) Bundle with Philips Hue Bulb - Sandstone'
          },
          {
            id: 3,
            name: 'Sonos One (Gen 2) - with Amazon Alexa (Black)'
          }
        ]
      },
      methods: {
        addToCart(e) {
          this.count += e
        }
      }
    });
  </script>

</body>

</html>