<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
</head>

<style>
  label {
    min-width: 150px;
    display: block;
    margin-top: 10px;
    padding: 20px 0 10px 0;
  }

  [v-cloak] {
    display: none;
    color: red;
  }
</style>

<body>

  <div id="app">
    <div v-cloak>
      <h1 v-text="message"></h1>
      <h1>{{ reverseMessage() }}</h1>
      <h1 v-text="reverseMessage()"></h1>
      <h1 v-text="reverseMessage()"></h1>
      <h1>{{ reversedComputed }}</h1>
      <h1 v-text="reversedComputed"></h1>

      <select v-model="selected">
        <option disabled value="">Choose a novel</option>
        <option>Don Quixote, Miguel De Cervantes</option>
        <option>Pilgrim's Progress, John Bunyan</option>
        <option>Robinson Crusoe, Daniel Defoe</option>
        <option>Gulliver's Travels, Jonathan Swift</option>
        <option>Tom Jones Henry, Fielding</option>
      </select>
      <p v-if="selected">
        <span>Selected: {{ selected }}</span>
        <br /><strong>{{ (selected == 'Gulliver\'s Travels, Jonathan Swift')? 'Hurrey!' : '' }}</strong>
      </p>

      <p v-pre>{{ selected }}</p>
    </div>
  </div>

  <script src="https://vuejs.org/js/vue.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello World!',
        selected: ''
      },
      computed: {
        reversedComputed() {
          return this.message.split('').reverse().join('')
        }
      },
      methods: {
        reverseMessage() {
          return this.message.split('').reverse().join('')
        }
      }
    })
  </script>

</body>

</html>