<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://semantic-ui.com/dist/semantic.css" />
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script src="https://semantic-ui.com/dist/semantic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }

    body>div.container:first-of-type {
      margin-top: 30px;
    }
  </style>
</head>

<body>

  <div id="app" class="ui container" v-cloak>
    <div class="row">
      <div class="one wide column">
        <div class="ui link cards">
          <person v-for="(person, index) in people" :person="person" :key="'person-' + '-' + index">
            <template slot-scope="who">
              <div class="image"><img :src="who.avatar" :alt="who.name" :title="who.name" /></div>
              <div class="content">
                <div class="header">{{ who.name }}</div>
                <div class="meta"><a>{{ who.status }}</a></div>
                <div class="description">{{ who.name }} is an {{ who.job.toLowerCase() }} living in {{ who.city }}.
                </div>
              </div>
              <div class="extra content">
                <span class="right floated">Joined in {{ who.date }}</span>
                <span><i class="user icon"></i> {{ who.friends }} Friends</span>
              </div>
            </template>
          </person>
        </div>
      </div>
    </div>
  </div>

  <script>
    Vue.component('person', {
      template: `
        <div class="card">
          <slot v-bind="person">{{ person.name }}</slot>
        </div>
        `,
      props: ['person']
    });

    var app = new Vue({
      el: '#app',
      data: {
        people: [{
            name: 'Molly Hess',
            avatar: 'https://semantic-ui.com/images/avatar2/large/molly.png',
            status: 'Coworker',
            job: 'Personal Assistant',
            city: 'Paris',
            date: 2011,
            friends: 35
          },
          {
            name: 'Matthew Giampietro',
            avatar: 'https://semantic-ui.com/images/avatar2/large/matthew.png',
            status: 'Friends',
            job: 'Film-maker',
            city: 'New York',
            date: 2013,
            friends: 75
          },
          {
            name: 'Elyse Ossi',
            avatar: 'https://semantic-ui.com/images/avatar2/large/elyse.png',
            status: 'Coworker',
            job: 'Copywriter',
            city: 'New York',
            date: 2014,
            friends: 151,
          }
        ]
      },
      methods: {
        reOrderPeopleByName() {
          this.people.reverse().sort((a, b) => a.date - b.date);
        }
      }
    });
  </script>

</body>

</html>