<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9" lang="tr"
prefix="og: http://ogp.me/ns#" >
<![endif]-->
<html lang="tr" prefix="og: http://ogp.me/ns#">

<head>
	<title>Vue Example: Task</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css" />
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

	<style>
		[v-cloak]>* {
			display: none;
		}

		[v-cloak]::before {
			content: "loading…";
		}

		.buttons {
			width: 100%;
		}

		.card-footer .button {
			border-radius: 0;
		}

		.button.is-full {
			width: 100%;
		}

		.has-equal-height {
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		.tag.is-info {
			border-radius: 4px 0 0 4px;
		}

		time.tag {
			border-radius: 0 4px 4px 0;
		}

		.card-footer {
			margin-top: auto;
		}

		.modal-content {
			padding: 20px;
		}

		.fade-enter-active,
		.fade-leave-active {
			transition: opacity .5s;
		}

		.fade-enter,
		.fade-leave-to

		/* .fade-leave-active below version 2.1.8 */
			{
			opacity: 0;
		}
	</style>
</head>

<body>

	<section id="app" class="section" v-cloak>
		<div class="container">
			<h2 class="title is-6">SEARCH</h2>
			<div class="field">
				<div class="control">
					<input class="input is-primary" type="text" placeholder="Search..." v-model="searchQuery" />
				</div>
			</div>
			<div class="field">
				<a class="button is-link is-full" @click="modelActive = true">Set a new task</a>
				<!--<a class="button" @click="getTaskFromAPI()">Sync</a>//-->
			</div>
		</div>

		<hr />

		<tasks-comp v-for="(task, index) in tasks" :key="task.slug" :title="task.title" :slug="task.slug"
			:search="searchQuery"></tasks-comp>

		<transition name="fade">
			<div class="modal" :class="{ 'is-active': modelActive }" v-if="modelActive">
				<div class="modal-background"></div>
				<div class="modal-content has-background-black">
					<h2 class="title is-6 has-text-white">SET A NEW TASK</h2>
					<div class="columns">
						<div class="column is-half">
							<div class="card">
								<header class="card-header">
									<h1 class="card-header-title" v-text="newtask.title"></h1>
								</header>
								<div class="card-content">
									<div class="content">
										<p><span :class="['tag', 'is-light', this.$root.priorities[newtask.priority-1] ]">Öncelik:
												{{ newtask.priority }}</span><span class="tag">Tarih: <time
													:datetime="getDate">{{ getDate }}</time></span></p>
										<p v-html="newtask.description"></p>
									</div>
								</div>
							</div>
						</div>
						<div class="column auto">
							<div class="card">
								<header class="card-content">
									<div class="content">
										<div class="field">
											<label class="label">Task Title</label>
											<div class="control">
												<input class="input" type="text" placeholder="Set a title for new task"
													v-model="newtask.title" />
											</div>
										</div>
										<div class="field">
											<label class="label">Set a priority</label>
											<div class="control">
												<div class="select">
													<select v-model="newtask.priority">
														<option>Select dropdown</option>
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
													</select>
												</div>
											</div>
										</div>
										<div class="field">
											<label class="label">Details</label>
											<div class="control">
												<textarea class="textarea" placeholder="..." v-model="newtask.description"></textarea>
											</div>
										</div>
									</div>
							</div>
							<footer class="card-footer">
								<div class="buttons has-addons">
									<a href="#" class="card-footer-item button is-link" @click="submitnewtask()">Submit</a>
								</div>
							</footer>
						</div>
					</div>
				</div>
				<button class="modal-close is-large" aria-label="close" @click="modelActive = false"></button>
			</div>
		</transition>
	</section>

	<script src="app.js"></script>

</body>

</html>