<!DOCTYPE html>
<html>
	<head>
		<title>Vue Example</title>
	</head>
	<body>
 
		<div id="app">

			<h1>{{ message }}</h1>

			<div>Hello {{  user.firstName + ' ' + user.lastName }}</div>
			<div>Hello {{  user.firstName }}  {{ user.lastName | uppercase }}</div>
			<div v-once="user">Hello {{ user.firstName + ' ' + user.lastName | uppercase }}-</div>
			<div>{{ 'Hello ' + user.firstName + ' ' + user.lastName }}</div>
			<div v-text="'Hello ' + user.firstName + ' ' + user.lastName"></div>
			<div>Hello <span v-text="user.firstName"></span> <span v-text="user.lastName"></span></div>
			<div>Hello <span v-for="who in user" v-text="who" v-once="user"></span>-</div>
			<div>Hello <span v-for="who in user" v-bind:text-content.prop="who | uppercase"></span></div>
			<div>Hello <span v-for="who in user" v-text="uppercase(who)" v-once="user"></span>-</div>
			<div>Hello <span v-for="who in user" v-text="uppercase2(who)"></span></div>
			<div>Hello <span v-for="who in user" v-text="$options.filters.uppercase(who)"></span></div>
		</div>
 
		<script src="https://vuejs.org/js/vue.js"></script>
 
		<script>
		var app = new Vue({
		  el: '#app',
		  data: {
				message: 'Hello World!',
				private: false,
				number: 10,
				user: {
					firstName: 'Julius',
					lastName: 'Rodman'
				}
			},
			filters: {
				uppercase(value) {
					// veya uppercase: function(value) {
						return value.toUpperCase()
				}
			},
			methods: {
				uppercase(value) {
					return value.toUpperCase()
				},
				uppercase2(value) {
					return this.$options.filters.uppercase(value);
				}
			}
		})
		</script>
 
	</body>
</html>