<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-cloak>
      <task value="Deneme"></task>
      <task value="Yanılma"></task>
      <task value="Tekrar"></task>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script>
    Vue.component('task', {
      props: ['value'],
      template: `
      <li>{{ value }}</li>
      `
    });

    var app = new Vue({
      el: '#app',
      data: {
        value: null
      },
      methods: {

      }
    });
  </script>

</body>

</html>