<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
	<style>
		[v-cloak]>* {
			display: none
		}

		[v-cloak]::before {
			content: "loading…"
		}
	</style>
</head>

<body>
	<div id="app">
		<div v-cloak>
			<button v-on:click="number += 1">Add 1</button> <button v-on:click="number -= 1">Remove 1</button>
			<p v-if="number != null">Counter: {{ number }}</p>
			<hr />
			<button v-on:click="getAlert">Click me!</button>
			<input type="text" v-on:click="getAlert" placeholder="Click me!" />
			<hr />
			<input type="text" v-on:keyup.enter="getMsg()" v-model="message" placeholder="Say something and press enter..." />
			<button v-on:click="getMsg('Hi!')">Say Hi!</button>
			<hr />
			<button v-on:click="getEvent('Form cannot be submitted yet.', $event)">Submit</button>
			<hr />
			<button v-on:click.stop="getAlert">Submit</button>
			<hr />
			<input v-on:keyup.keyCodes.a="getAlert" placeholder="Click and Press a" />
			<input v-on:keyup.keyCodes.f1="getAlert" placeholder="Click and Press F1" />
			<input v-on:keyup.right="getAlert" placeholder="Click and Press right" />
			<input v-on:keyup.right="getAlert" placeholder="Click and Press right" />
			<input v-on:keyup.alt.67="getAlert" placeholder="Click and Press Alt + C" />
			<input v-on:click.alt="getAlert" placeholder="Click + Press Alt" />
			<input v-on:mousedown="getAlert" placeholder="Mouse down" />
			<input v-on:click.left="getAlert" placeholder="Mouse left click" />
			<input v-on:click.right="getAlert" placeholder="Mouse right click" />
			<textarea v-on:scroll="getAlert" placeholder="Scroll up">
				Scroll
				...
					...
						...
							...
								...
									...
										...
											...
			</textarea>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				number: null,
				message: `It's a new dawn, it's a new day, it's a new life for you`
			},
			methods: {
				getAlert: function (event) {
					alert('Hello! ' + this.message + '!')
					if (event) {
						alert(event.target.tagName)
					}
				},
				getMsg: function (msg) {
					if (msg) {
						alert(msg)
					} else {
						alert(this.message)
					}
				},
				getEvent: function (message, event) {
					if (event) event.preventDefault()
					alert(message)
				}
			}
		});
		app.getAlert();
	</script>

</body>

</html>