<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
</head>

<body>

	<div id="app">

		<h1>{{ message }}</h1>

		<ul>
			<li v-for="key in ordered" v-if="!todos.isActive">
				{{ key }}
			</li>
		</ul>

		<ul>
			<li v-for="key of todos" v-if="!todos.isActive">
				{{ key }}
			</li>
		</ul>
		<button @click="usePush">usePush</button>
		<button @click="useUnshift">useUnshift</button>
		<button @click="useSplice(1)">useSplice(2)</button>
	</div>

	<script src="https://vuejs.org/js/vue.js"></script>

	<script>
		// https://vuejs.org/v2/guide/list.html#v-for-with-v-if
		// app.todos.push({ "done": false, "priority": 8, "content": "Learn JavaScript", "isActive": true })
		// Vue.set(app.todos[1], 'done', true)
		// app.todos[2].done = true

		var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello World!',
				object: {
					firstName: 'John',
					lastName: 'Doe',
					age: 30
				},
				todos: [{
						done: true,
						priority: 5,
						content: 'Smile!'
					},
					{
						done: false,
						priority: 7,
						content: 'Learn JavaScript'
					},
					{
						done: false,
						priority: 8,
						content: 'Learn Vue.js',
					}
				]
			},
			computed: {
				ordered() {
					return this.todos.sort((a, b) => {
						return b.priority - a.priority;
					});
				}
			},
			methods: {
				usePush() {
					return this.todos.push({
						done: false,
						priority: 2,
						content: 'Learn a new thing!',
					})
				},
				useUnshift() {
					return this.todos.unshift({
						done: false,
						priority: 2,
						content: 'Learn a new thing!',
					})
				},
				useSplice(id) {
					return this.todos.splice(2)
				}
			}
		})
	</script>

</body>

</html>