<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <section id="app" class="section" v-cloak>
    <strong>No filter</strong>
    <ul>
      <li v-for="title, index in titles" :key="index" v-bind:title="title">{{ title }}</li>
    </ul>

    <hr />
    <strong>Capitalize</strong>
    <ul>
      <li v-for="title, index in titles" :key="index" v-bind:title="title | capitalize">{{ title | capitalize }}</li>
    </ul>

    <hr />

    <strong>UPPERCASE</strong>
    <ul>
      <li v-for="title, index in titles" :key="index" v-bind:title="title | uppercase">{{ title | uppercase }}</li>
    </ul>

    <hr />

    <strong>UPPERCASE &amp; Capitalize</strong>
    <ul>
      <li v-for="title, index in titles" :key="index" v-bind:title="title | uppercase">
        {{ title | uppercase | capitalize }}</li>
    </ul>

    <hr />

    <strong>UPPERCASE &amp; Capitalize</strong>
    <ul>
      <li v-for="title, index in titles" :key="index" v-bind:title="title | textformat(true, true)">
        {{ title | uppercase | textformat(true,true) }}</li>
    </ul>

    <hr />

    <input v-model.number="price" /><span v-show="price">Price: {{ price | toUSD }}</span>


  </section>

  <script>
    Vue.config.devtools = false;
    Vue.filter('textformat', function (value, arg1, arg2) {
      if (!value) return ''
      value = value.toString()
      stringValue = value.toLowerCase()
      if (arg1) stringValue = stringValue.charAt(0).toUpperCase() + stringValue.slice(1)
      if (arg2) stringValue = stringValue.toLowerCase().toUpperCase()
      if (arg1 && arg2) stringValue = stringValue.split('').reverse().join('')
      return stringValue
    });

    Vue.filter('uppercase', function (value) {
      if (!value) return ''
      value = value.toString()
      return value.toUpperCase()
    });

    var app = new Vue({
      el: '#app',
      data: {
        titles: ['First Level', 'SECOND LeveL', 'ThIrD leVel', 'fourth level'],
        price: 125
      },
      filters: {
        capitalize: function (value) {
          if (!value) return ''
          value = value.toString().toLowerCase()
          return value.charAt(0).toUpperCase() + value.slice(1)
        },
        toUSD: function (value) {
          return `$${value}`;
        }
      }
    });
  </script>
</body>

</html>