<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }

    .icon.is-small {
      font-size: .4em;
    }
  </style>
</head>

<body>
  <section id="app" class="section" v-cloak>

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <nav-item url="/home">Home</nav-item>
          <nav-item url="/about">About</nav-item>
          <nav-item url="/portfolio">Portfolio</nav-item>
          <nav-item url="/contact">Contact</nav-item>
          <nav-item url="/profile">Merhaba {{ user.name }}</nav-item>
        </div>
      </div>
    </nav>

    <hr />

    <alert>500 Internal Server Error</alert>
    <alert>400 Bad Request</alert>
    <alert>503 Service Unavailable</alert>
    <alert></alert>

    <hr />

    <notification content="500 Internal Server Error"></notification>
    <notification content="400 Bad Request"></notification>
    <notification content="503 Service Unavailable"></notification>
    <notification></notification>

  </section>

  <script>
    Vue.component('alert', {
      template: `
      <div class="notification">
        <h3 class="title is-3">Error!</h3>
        <p class="is-medium"><slot>Extraordinery Error!</slot></p>
      </div>`
    });

    Vue.component('notification', {
      props:['content'],
      template: `
      <div class="notification is-warning">
        <h3 class="title is-3">Error!</h3>
        <p class="is-medium" v-text="content"></p>
      </div>`
    });

    Vue.component('nav-item', {
      props:['url'],
      template: `
      <a class="navbar-item" v-bind:href="url" :title="url">
        <span class="icon is-small"><i class="fas fa-asterisk"></i></span> <slot></slot>
      </a>`
    });

    var app = new Vue({
      el: '#app',
      data: {
        user:{
          name: 'Joe'
        }
      }
    });
  </script>

</body>

</html>