<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Vue Example</title>

	<!-- STYLEs -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />

	<!-- JSs -->
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

	<!-- OTHERs -->
	<style>
		[v-cloak]>* {
			display: none;
		}

		[v-cloak]::before {
			content: "loading…";
		}
	</style>

</head>

<body>
	<section id="app" :class="['section']" v-cloak>
		<div class="container">
			{{ events }}
		</div>
	</section>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				events: '',
				error: ''
			},
			created() {},
			mounted() {},
			updated() {},
			computed: {},
			methods: {
				// https://www.goodreads.com/api/index#list.book
				apiQuery(method, endpoint, val) {
					axios.get('https://www.goodreads.com/shelf/list.xml', {
							params: {
								'key': 'y1W5H0HTftTUhoxRywazQ',
								'secret': 'SMrld3BC0SlW3H3fJ3EQInLWbePGSOOxVAeOxxNCg',
								'format': 'xml'
							},
							headers: {
								'Accept': 'application/xml',
							},
							authorization: {
								'type': 'No Auth'
							}
						})
						.then(response => {
							var self = this;
							parseString(response.data, function (err, result) {
								self.events = result
							});
						}).catch(error => (this.error = error))
				}
			},
			watch: {}
		});
	</script>

</body>

</html>