<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
</head>

<body>

	<div id="app">

		<h1>{{ title }}</h1>
		<ul>
			<li v-for="(country, index) in countriesAndCapitals" :key="index" v-show="index % 2 !== 1">
				{{ index + 1 }}. Country is <strong>{{ getCountry(index) }}</strong> and its Capital is <span
					v-for="capital in country" v-text="capital" :style="styleObject"></span>
			</li>
		</ul>

		<hr />

		<ul>
			<li v-for="(country, index) in countriesAndCapitals" :key="index" v-if="index % 2 !== 1">
				{{ index + 1 }}. Country is <strong>{{ getCountry(index) }}</strong> and its Capital is <span
					v-for="capital in country" v-text="capital" :style="styleObject"></span>
			</li>
		</ul>

		<hr />

		<ul>
			<li v-if="age < 18">Generation Z, or iGeneration (Teens & younger)</li>
			<li v-else-if="age => 18 && age < 35">Millennials, or Generation Y (18 – 34 years old)</li>
			<li v-else-if="age => 35 && age < 51">Generation X (Roughly 35 – 50 years old)</li>
			<li v-else>Baby Boomers (Roughly 50 to 70 years old)</li>
		</ul>

	</div>

	<script src="https://vuejs.org/js/vue.js"></script>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				title: 'Ten Countries with the Highest Population in the World',
				styleObject: {
					'color': 'red',
					'font-weight': 'bold'
				},
				age: '10',
				countriesAndCapitals: [{
						'China': 'Beijing'
					},
					{
						'India': 'New Delhi'
					},
					{
						'United States': 'Washington, D.C.'
					},
					{
						'Indonesia': 'Jakarta'
					},
					{
						'Brazil': 'Brasilia'
					},
					{
						'Pakistan': 'Islamabad'
					},
					{
						'Nigeria': 'Abuja'
					},
					{
						'Bangladesh': 'Dhaka'
					},
					{
						'Russia': 'Moscow'
					},
					{
						'Mexio': 'Mexico City'
					}
				]
			},
			methods: {
				getCountry(index) {
					return Object.keys(this.countriesAndCapitals[index])[0]
				}
			}
		})
	</script>

</body>

</html>